<div class="main">
    <div class="chat">
        <div class="chat2">
            <div class="chat3">
                <div class="chat4">
                    <p>ユーザー名<span>投稿日時</span></p>
                    <p>本文ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                </div>
                <div class="chat5">
                    <ul>
                        <li><a href="#" class="btn-square-slant">delete</a></li>
                        <li><a href="#" class="btn-square-slant">edit</a></li>
                    </ul>
                </div>
            </div><div class="chat3">
                <div class="chat4">
                    <p>ユーザー名<span>投稿日時</span></p>
                    <p>本文ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                </div>
                <div class="chat5">
                    <ul>
                        <li><a href="#" class="btn-square-slant">delete</a></li>
                        <li><a href="#" class="btn-square-slant">edit</a></li>
                    </ul>
                </div>
            </div><div class="chat3">
                <div class="chat4">
                    <p>ユーザー名<span>投稿日時</span></p>
                    <p>本文ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                </div>
                <div class="chat5">
                    <ul>
                        <li><a href="#" class="btn-square-slant">delete</a></li>
                        <li><a href="#" class="btn-square-slant">edit</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="chat-form">
        <form>
            <input type="text" class="input-text">
            <input type="submit" class="button" value="SEND">
        </form>

    </div>
</div>